{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if error == "wrong-username-password" %}
    <div class="alert alert-danger" style="margin-top: 20px">שם משתמש או סיסמה לא נכונים!</div>
    {% end %}
    <div class="row">
        <h1 class="offset2" style="margin-top: 50px">כניסה למערכת</h1>
        <form class="well form-horizontal span8 offset2" method="post">
            <div class="control-group">
                <label class="control-label" for="username">שם משתמש</label>
                <div class="controls">
                    <input type="text" name="username" id="username" placeholder="שם משתמש">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">סיסמה</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="סיסמה">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">היכנס</button>
                    <a href="/register" class="btn btn-large btn-success">הרשמה</a>
                </div>
            </div>
        </form>

    </div>
</div>

{% end %}