{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if error == "wrong-username-password" %}
    <div class="alert alert-danger">שם משתמש או סיסמה לא נכונים!</div>
    {% end %}
    <div class="row">
        <form class="well form-horizontal span5 offset3" style="margin-top: 20px" method="post">
            <h4>כניסה למערכת</h4>
            <div class="control-group">
                <div class="controls">
                    <input type="text" name="username" id="username" placeholder="שם משתמש">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="סיסאה">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">היכנס</button>
                    <a href="/register" class="btn btn-large btn-success">הרשמה</a>
                </div>
            </div>
        </form>

    </div>
</div>

{% end %}